#articulos {
    margin-top: 60px;
}

.topmargin-xs {
    margin-top: 7px;
}

.topmargin-sm {
    margin-top: 20px;
}

.topmargin-lg {
    margin-top: 60px;
    margin-left: 75px;
}

.button {
    border: 0;
    color: white;
}

.icon1 {
    margin-left: 125px;
}

.icon2 {
    margin-left: 90px;
}

.icon3 {
    margin-left: 160px;
}

.icon4 {
    margin-left: 150px;
}

.c-r {
    background-color: rgb(250, 64, 40);
}

.c-a {
    background-color: rgb(255, 153, 0);
}

.c-v {
    background-color: rgb(149, 22, 253);
}

.tr {
    color: rgb(250, 64, 40);
}

.ta {
    color: rgb(255, 153, 0);
}

.tv {
    color: rgb(149, 22, 253);
}

.form {
    border: 0;
}

.espacio {
    margin-left: 60px;
}

.marder {
    border-right: 1px solid rgb(255, 145, 0);
}

#fotos {
    display: none;
}